<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <a routerLink="/users/profile">John's profile</a>
            <ul>
                <li *ngIf="loggedIn">
                </li>
                <li *ngIf="loggedIn">
                    <a routerLink="/users/logout">Logout</a>
                </li>
                <li *ngIf="!loggedIn">
                    <a routerLink="/users/login">Login</a>
                </li>
                <li *ngIf="!loggedIn">
                    <a routerLink="/users/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li *ngIf="loggedIn">
                <a routerLink="/new-theme">New Theme</a>
            </li>
        </ul>
    </nav>
</header>