<div class="container">
    <form class="register" #registerForm="ngForm" (ngSubmit)="submitHandler(registerForm)">
        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input
                    [ngClass]="{'input-error': usernameInput.touched  && (usernameInput.errors?.['required'] || usernameLength(usernameInput.value))}"
                    type="text" name="username" id="username" placeholder="Johny" required #usernameInput="ngModel"
                    ngModel>
            </p>
            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">
                    Username is required!
                </p>
                <p class="error" *ngIf="usernameLength(usernameInput.value)">
                    Username should be at least 5 characters long!
                </p>
            </ng-container>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input [ngClass]="{'input-error': emailInput.touched  && !isValidEmail(emailInput.value)}" type="email"
                    name="email" id="email" placeholder="john.doe@gmail.com" ngModel #emailInput="ngModel" required
                    pattern="/[^@]{6,}@gmail\.(bg|com)/">
            </p>

            <ng-container *ngIf="emailInput.touched">
                <p class="error" *ngIf="emailInput.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" *ngIf="!isValidEmail(emailInput.value)">
                    Email is not valid!
                </p>
            </ng-container>

            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" name="tel" id="tel" placeholder="885 888 888" autocomplete="username" ngModel>
            </p>

            <!-- password -->
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input
                [ngClass]="{'input-error': passwordInput.touched  && usernameLength(passwordInput.value)}" 
                    type="password" 
                    ngModel 
                    name="password" 
                    id="password" 
                    placeholder="******"
                    autocomplete="new-password" 
                    #passwordInput="ngModel" 
                    required
                >
            </p>
            <p class="error" *ngIf="passwordInput.touched && passwordInput.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="passwordInput.touched && usernameLength(passwordInput.value)">
                Password must be at least 5 characters!
            </p>

            <!-- rePassword -->
            <p class="field field-icon">
                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                <input
                    [ngClass]="{'input-error': rePassword.touched  && !passwordEquality(passwordInput.value, rePassword.value)}"
                    type="password" 
                    ngModel 
                    name="rePassword" 
                    id="rePassword" 
                    placeholder="******"
                    autocomplete="new-password" 
                    #rePassword="ngModel" 
                    ngModel 
                />
            </p>
            <p class="error" *ngIf="rePassword.touched && !passwordEquality(passwordInput.value, rePassword.value)">
                Repeat Password does not match password!
            </p>

            <button>Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/users/login">Log In</a>
            </p>
        </fieldset>
    </form>
</div>