<!-- Details page -->
<section id="details">
    <div id="details-wrapper">
        <img id="details-img" src="{{fact.imageUrl}}" alt="example1" />
        <p id="details-category">{{fact.category}}</p>
        <div id="info-wrapper">
            <div id="details-description">
                <p id="description">
                    {{fact.description}}
                </p>
                <p id="more-info">
                    {{fact.moreInfo}}
                </p>
            </div>
        </div>
    </div>
</section>