<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li *ngIf="IsLoggedIn">
                    <a routerLink="/profile">{{firstName}}'s profile</a>
                </li>
                <li *ngIf="IsLoggedIn">
                    <a (click)="logout()" routerLink="/logout">Logout</a>
                </li>
                <li *ngIf="!IsLoggedIn">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!IsLoggedIn">
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li *ngIf="IsLoggedIn">
                <a routerLink="/create">New Theme</a>
            </li>
        </ul>
    </nav>
</header>