<header>
    <a id="logo" routerLink="/">
        <img id="logo-img" src="./assets/images/logo.png" alt="logo" />
    </a>
    <nav>
        <div>
            <a routerLink="/facts">Fun Facts</a>
        </div>
        <ng-container *ngIf="LoggedIn()">
            <div class="user">
                <a routerLink="/create-fact">Add Fact</a>
                <a routerLink="/logout">Logout</a>
            </div>
        </ng-container>
        <ng-container *ngIf="!LoggedIn()">
            <div class="guest">
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
        </ng-container>
    </nav>
</header>