<form (ngSubmit)="submitHandler()" [formGroup]="registerForm">
    <div class="form-group">
        <label for="email">Email: </label>
        <input 
            type="text" 
            id="email" 
            name="email"
            required
            formControlName="email"
        >
        <ng-container *ngIf="registerForm.get('email')?.touched">
            <div *ngIf="registerForm.get('email')?.errors?.['myValidator']">Required email!</div>
            {{registerForm.get('email')?.errors | json}}
            <div *ngIf="registerForm.get('email')?.errors?.['Invalid email!']">Invalid email!</div>
        </ng-container>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            autocomplete="current-password"
            formControlName="password"
        >
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be at least 8 characters long!</div>
    </div>
    <button>Register</button>
</form>
<!-- {{registerForm.value | json}} -->