<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <ng-container *ngIf="navService.isRegistered$ | async">
                    <li>
                        <a routerLink="/users/profile">{{navService.getUsername()}}'s profile</a>
                    </li>
                    <li>
                        <a routerLink="/users/logout">Logout</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!(navService.isRegistered$ | async)">
                    <li>
                        <a routerLink="/users/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/users/register">Register</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li *ngIf="loggedIn">
                <a routerLink="/new-theme">New Theme</a>
            </li>
        </ul>
    </nav>
</header>