<section id="register">
    <div class="form">
        <h2>Register</h2>
        <form class="register-form" #form="ngForm" (ngSubmit)="submitHandler(form)">
            <input 
                type="text" 
                name="email" 
                id="register-email" 
                placeholder="email" 
                autocomplete="email"
                ngModel
                #emailInput="ngModel"
            />
            <input 
                type="password" 
                name="password" 
                id="register-password" 
                placeholder="password" 
                autocomplete="new-password"
                ngModel
                #passwordInput="ngModel"
            />
            <input 
                type="password" 
                name="re-password" 
                id="repeat-password" 
                placeholder="repeat password" 
                autocomplete="re-password" 
                ngModel
                #rePasswordInput="ngModel"
            />
            <button type="submit">register</button>
            <p class="message">Already registered? <a routerLink="/login">Login</a></p>
        </form>
    </div>
</section>